<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lab1_AW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF94CE61C46F51A004E6985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF94CFF1C46F51B004E6985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF94D0A1C46F51B004E6985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
