<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Bugs</key>
        <array>
            <dict>
                <key>Name</key>
                <string>Spider</string>
                <key>Scientific Name</key>
                <string>Araneae</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Ladybug</string>
                <key>Scientific Name</key>
                <string>Coccinellidae</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>Firefly</string>
                <key>Scientific Name</key>
                <string>Lampyridae</string>
            </dict>
        </array>
        <key>Animals</key>
        <array>
            <dict>
                <key>Scientific Name</key>
                <string>Felis catus</string>
                <key>Name</key>
                <string>Cat</string>
            </dict>
            <dict>
                <key>Scientific Name</key>
                <string>Canis lupus familiaris</string>
                <key>Name</key>
                <string>Dog</string>
            </dict>
            <dict>
                <key>Scientific Name</key>
                <string>Homo sapiens hisutii</string>
                <key>Name</key>
                <string>Bigfoot</string>
            </dict>
        </array>
    </dict>
</plist>
